.notification-wrapper {
  width: 20%;
  min-width: 260px;
  background: #356f73;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.notification-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #356f73;
  padding: 15px;
  overflow: hidden;
}

/* HEADER */
.notification-panel h4 {
  padding-left: 20px;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 25px;
}

/* SCROLLABLE CONTENT */
.np-content {
  flex: 1;
  overflow-y: auto;
  padding-right: 5px;
}

/* TITLE */
.notification-panel .title {
  font-weight: bold;
  padding: 12px;
  margin-top: 10px;
  background: #f4f6f8;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: space-between;
}

.notification-panel .title:hover {
  background: rgba(255, 255, 255, 0.12);
}

/* TEXT ITEMS */
.notification-panel p,
.notification-panel .pending-item {
  padding: 6px 10px;
  margin: 4px 0;
  font-size: 13px;
  color: white;
}

/* STATUS COLORS */
.notification-panel .accepted {
  color: #2ecc71;
}

.notification-panel .rejected {
  color: #e74c3c;
}

.notification-panel .pending {
  color: #f1c40f;
}

/* PENDING ITEM */
.pending-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* CANCEL BUTTON */
.cancel-mini-btn {
  font-size: 12px;
  background: red;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
}

/* =========================
   FOOTER (LOGOUT AREA)
========================= */
.np-footer {
  padding-top: 10px;
  border-top: 1px solid rgba(255,255,255,0.2);
}

.logout-btnNoti {
  width: 100%;
  border: none;
  background: #ef4444;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  padding:10px;
}

.logout-btnNoti:hover {
  background: #dc2626;
}

/* =========================
   MOBILE SIDEBAR
========================= */
@media (max-width: 768px) {

  .notification-wrapper {
    position: fixed;
    top: 0;
    right: 0;

    width: 75%;
    height: 100vh;

    background: #356f73;
    z-index: 2000;

    transform: translateX(100%);
    transition: transform 0.3s ease;

    overflow-y: auto;
  }

  .notification-wrapper.open {
    transform: translateX(0);
  }

  .sidebar-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1500;
    column-wrap: auto;
  }
}

/* hide overlay on desktop */
@media (min-width: 769px) {
  .sidebar-overlay {
    display: fixed;
  }
}